@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.bg-blue {
  background-color: #00adee;
}

.color-blue {
  color: #00adee;
}

.bg-black {
  background-color: #232323;
}

.nav-img {
  background: url("./components/slider_1_mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* background: #000; */
}

/* Custom styles for the unordered list */
.custom-list {
  list-style-type: disc !important; /* Use disc bullets */
  padding-left: 20px !important; /* Add some left padding */
}

/* Custom styles for list items */
.custom-list li {
  margin-bottom: 10px !important; /* Add some bottom margin between list items */
}

.bg-brawn {
  background-color: rgb(208, 210, 212);
}
